.cartMainh1{
    margin: 0px;
    font-size: 42px;
    text-align: center;
}
.cartPara{
    font-size: 16px;
    text-align: center;
}
.table{
    margin: 60px Auto;
    border-collapse: collapse;
    color: #555555;
    text-align: left;
    border: none;
}
table thead tr{
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    text-align: center;
}
table tbody{
    text-align: center;
}
.tableImg{
    width: 50px;
    height: 50px;
}
.tbodyTitle{
    text-align: left;
}

/* table td{
    width: 20%;
    padding: 12px 0px;
} */

.shoppingCart{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.sectionActionButton{
    width: 100%;
    border: 2px solid;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    background: transparent;
}
  
.checkoutTotal{
    border: 1px solid #e2e2e2;
    padding: 40px;
    text-align: center;
}
.SubtotalSpan{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.shippingSpan, .calShipping, .totalCost{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px;
    display: flex;
    justify-content: left;
}
.inputLabel{
   text-align: left;
}

label{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    margin-bottom: 10px;
    width: 95%;
}
.labelSpan{
    display: flex;
    justify-content: space-between;
}
input[type="radio"]{
    width: 16px;
    height: 16px;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
.totalCost{
    display: flex;
    justify-content: space-between;
}
.ProceedToCheckout{
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: #111111;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
